include requirements.txt
include README.md
graft gsitk/datasets
graft gsitk/resources
graft gsitk/features
graft gsitk/preprocess
graft gsitk/evaluation
graft gsitk/classifiers
global-exclude *.py[cod]